<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223688047141-uu7rrt3ri8s23ugefdok5brhj6tmmvan.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223688047141-uu7rrt3ri8s23ugefdok5brhj6tmmvan</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>223688047141-8v3rsiq4g1ndr6svsl7qmonlovtq28t4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDChUVlUK07p9TJx-k39aE5TSXfNwdGVxM</string>
	<key>GCM_SENDER_ID</key>
	<string>223688047141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fidelisyugita.berage</string>
	<key>PROJECT_ID</key>
	<string>berage</string>
	<key>STORAGE_BUCKET</key>
	<string>berage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223688047141:ios:0fd8ac85eabc8a4bb91dcc</string>
	<key>DATABASE_URL</key>
	<string>https://berage.firebaseio.com</string>
</dict>
</plist>